/*==========================
        HEADER
==========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{

    --primary:#D6336C;
    --secondary:#F4D35E;
    --white:#ffffff;
    --black:black;

}

header{

    width:100%;

    background:white;

    position:sticky;

    top:0;

    left:0;

    z-index:1000;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

}

.navbar{

    width:90%;

    margin:auto;

    height:85px;

    display:flex;

    justify-content:space-between;

    align-items:center;
    

}

/* Logo */

.logo{

    display:flex;

    align-items:center;

    gap:12px;

}

.logo img{

    width:55px;

    height:55px;

}

.logo h1{

    color:var(--primary);

    font-size:30px;

    font-weight:bold;

}

.logo span{

    color:var(--secondary);

    font-weight: bold;

}

/* Navigation */

nav ul{

    display:flex;

    list-style:none;

    gap:32px;


}

nav ul li{

    position:relative;

}

nav ul li a{

    text-decoration:none;

    color:black;

    font-size:17px;

    font-weight:500;

    transition:.3s;

}

nav ul li a:hover{

    color:var(--primary);

}

/* Underline Effect */

nav ul li a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:var(--secondary);

    transition:.3s;

}

nav ul li a:hover::after{

    width:100%;

}

/* Buttons */

.header-buttons{

    display:flex;

    gap:12px;

}

.icon-btn,
.rtl-btn{

    width:45px;
    height:45px;
    border:2px solid var(--secondary);
    border-radius:50%;
    color:black;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
    font-weight: bold;
    background-color: white;
}

.rtl-btn{

    width:60px;
    border-radius:30px;
}

.icon-btn:hover,
.rtl-btn:hover{

    background:#D6336C;
    color:#fff;
}

.login-btn{

    width: 100px;

    height: 50px;

    padding:12px 20px;
    
    border: none;
    border-radius:30px;

    color:black;

    font-size:15px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

    background-color: var(--primary);


}

.login-btn:hover{

    background:var(--secondary);

    transform:translateY(-2px);

    color: white;

}

/* Responsive */

@media(max-width:992px){

.navbar{

    flex-direction:column;

    height:auto;

    padding:20px 0;

    gap:20px;

}

nav ul{

    flex-wrap:wrap;

    justify-content:center;

}

}

@media(max-width:768px){

.logo h1{

    font-size:24px;

}

nav ul{

    gap:15px;

}

nav ul li a{

    font-size:15px;

}

.header-buttons{

    flex-wrap:wrap;

    justify-content:center;

}

}

/* ================= FOOTER ================= */

/*================ FOOTER ================*/

footer{

    background:white;
    color:#fff;
    margin-top:80px;

}

/* Main Footer */

.footer-container{

    width:90%;
    margin:auto;

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:40px;

    padding:60px 0;

}

/* Logo */

.footer-logo{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:20px;

}

.footer-logo img{

    width:55px;
    height:55px;

}

.footer-logo h2{

    color:var(--primary);
    font-size:30px;

}

.footer-logo span{

    color:#F4D35E;

}

/* Description */

.footer-about p{

    color:black;

    line-height:28px;

    margin-bottom:25px;

}

/* Headings */

.footer-links h3,
.footer-services h3,
.footer-contact h3{

    color:#F4D35E;

    margin-bottom:20px;

    font-size:22px;

}

/* Lists */

.footer-links ul,
.footer-services ul{

    list-style:none;

}

.footer-links ul li,
.footer-services ul li{

    margin-bottom:12px;

}

.footer-links ul li a,
.footer-services ul li a{

    text-decoration:none;

    color:black;

    transition:.3s;

}

.footer-links ul li a:hover,
.footer-services ul li a:hover{

    color:var(--primary);

    padding-left:8px;

}

/* Contact */


.footer-contact h3{
    color: #F4D35E;
    margin-bottom: 20px;
    font-size: 22px;
}

.footer-contact p{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    color: black;
    font-size: 16px;
}

.footer-contact p i{
    width: 20px;
    color: #F4D35E;
    text-align: center;
    font-size: 18px;
}


/* Social Icons */

.social-icons{

    display:flex;

    gap:12px;

    margin-top:25px;

}

.social-icons a{

    width:42px;

    height:42px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    color:black;

    border-radius:50%;

    background:var(--secondary);

    transition:.3s;

    font-size:18px;

}

.social-icons a:hover{

    background:var(--primary);

    color:#222;

    transform:translateY(-5px);

}

/* Line */

footer hr{
    
  
    border:none;

    border-top:1px solid black;

}


/*==========================
      FOOTER BOTTOM
==========================*/

.footer-bottom{
    border-top:1px solid #e5e5e5;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
}

.footer-bottom p{
    color:black;
    font-size:15px;
}

.footer-bottom-links{
    display:flex;
    align-items:center;
    gap:12px;
}

.footer-bottom-links a{
    text-decoration:none;
    color:black;
    font-size:15px;
    transition:.3s;
}

.footer-bottom-links a:hover{
    color:#D6336C;
}

.footer-bottom-links span{
    color:black;
}

/* Responsive */

@media(max-width:768px){

.footer-bottom{
    flex-direction:column;
    text-align:center;
}

.footer-bottom-links{
    flex-wrap:wrap;
    justify-content:center;
}

}
/* Responsive */

@media(max-width:992px){

.footer-container{

    grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.footer-container{

    grid-template-columns:1fr;

    text-align:center;

}

.footer-logo{

    justify-content:center;

}

.social-icons{

    justify-content:center;

}

}

/*==========================
      DARK MODE
==========================*/

body{
    background:#ffffff;
    color:#222;
    transition:0.4s ease;
}

/* Header */

body.dark-mode header{
    background:white;
}

/* Navigation */

body.dark-mode nav ul li a{
    color:black;
}

body.dark-mode nav ul li a:hover{
    color:var(--primary);
}

/* Logo */
/* Header */
.logo .frosty{
    color: var(--primary);
}

.logo .scoop{
    color: var(--secondary);
}

/* Footer */
.footer-logo .frosty{
    color: var(--primary);
}

.footer-logo .scoop{
    color: var(--secondary);
}
/* Buttons */

body.dark-mode .login-btn{
    background:#F4D35E;
    color:#222;
}

/* Footer */

body.dark-mode footer{
    background:white;
}

body.dark-mode .footer-bottom{
    background:white;
}

body.dark-mode .fresh-content p{
    color:#d6d6d6;
}

body.dark-mode .featured-card p{
    color:#d6d6d6;
}

body.dark-mode .service-card p{
    color:#d6d6d6;
}

body.dark-mode .newsletter-content p{
    color:#eeeeee;
}

body.dark-mode .fresh-content h2{
    color:#ffffff;
}

body.dark-mode .fresh-section{
    background:#1f1f1f;
}

body.dark-mode .featured{
    background:#181818;
}

body.dark-mode .milkshake-section{
    background:#222222;
}

body.dark-mode .services{
    background:#181818;
}

body.dark-mode .services p{
    color: black;
}

body.dark-mode .fun-facts{
    background:#222222;
}

body.dark-mode .why-choose{
    background:#181818;
}

body.dark-mode .newsletter{
    background:#222222;
}

body.dark-mode footer{
    background:#ffffff;
}

body.dark-mode .fresh-content p{
    color:white;
}
body.dark-mode .featured-card p{
    color:black;
}
body.dark-mode .service-card p,
body.dark-mode .milkshake-content p{
    color: white;
}
body.dark-mode .facts-heading p,
body.dark-mode .fact p,
body.dark-mode .choose-card p,
body.dark-mode .newsletter-content p{
    color:black;
}


body.dark-mode .fresh-content h2,
body.dark-mode .featured h2,
body.dark-mode .services h2,
body.dark-mode .why-choose h2,
body.dark-mode .fun-facts h2,
body.dark-mode .milkshake-heading h2,
body.dark-mode .newsletter-content h2{
    color:var(--secondary);
}

body.dark-mode .fresh-content ul li,
body.dark-mode .milkshake-content ul li{
    color:#ffffff;
}


body.dark-mode .featured-card h3,
body.dark-mode .service-card h3,
body.dark-mode .choose-card h3,
body.dark-mode .milkshake-content h3{
    color:black;
}
/* ==========================
        HOME DARK MODE
========================== */

body.dark-mode{
    background:#1b1b1b;
    color:#ffffff;
}

/* All Home Sections */

body.dark-mode .about,
body.dark-mode .premium,
body.dark-mode .services,
body.dark-mode .menu,
body.dark-mode .gallery,
body.dark-mode .testimonial,
body.dark-mode .newsletter,
body.dark-mode .footer,
body.dark-mode .contact{

    background:#1b1b1b !important;

}


/* Paragraphs */



/* Headings */

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4{
    color:var(--secondary);
}

/*=========================================
            RTL MODE
=========================================*/

body.rtl{
    direction: rtl;
    text-align: right;
}

/*=========================================
            HEADER
=========================================*/

body.rtl header{
    direction: rtl;
}

body.rtl .navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

body.rtl .logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

body.rtl nav{
    direction: rtl;
}

body.rtl nav ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    list-style: none;
}

body.rtl nav ul li{
    margin: 0;
}

body.rtl nav ul li a{
    text-align: center;
}

body.rtl .header-buttons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
}

body.rtl .header-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=========================================
            HERO
=========================================*/

body.rtl .hero,
body.rtl .hero-container{
    flex-direction: row-reverse;
}

body.rtl .hero-content{
    text-align: right;
}

body.rtl .hero-buttons{
    justify-content: flex-end;
}

/*=========================================
            ABOUT
=========================================*/

body.rtl .about,
body.rtl .about-container{
    flex-direction: row-reverse;
}

body.rtl .about-content{
    text-align: right;
}

/*=========================================
        SPECIALS / FLAVOURS
=========================================*/

body.rtl .specials-content,
body.rtl .featured-content{
    text-align: right;
}

/*=========================================
        MILKSHAKE
=========================================*/

body.rtl .milkshake-section,
body.rtl .milkshake-container{
    flex-direction: row-reverse;
}

body.rtl .milkshake-content{
    text-align: right;
}

/*=========================================
        SERVICES
=========================================*/

body.rtl .services,
body.rtl .services-container{
    direction: rtl;
}

body.rtl .services-content{
    text-align: right;
}

/*=========================================
        JOURNEY
=========================================*/

body.rtl .journey,
body.rtl .journey-container{
    flex-direction: row-reverse;
}

body.rtl .journey-content{
    text-align: right;
}

/*=========================================
        WHY CHOOSE US
=========================================*/

body.rtl .why-container{
    flex-direction: row-reverse;
}

body.rtl .why-content{
    text-align: right;
}

/*=========================================
        BUTTONS
=========================================*/

body.rtl .btn,
body.rtl button{
    direction: rtl;
}

/*=========================================
        CARDS
=========================================*/

body.rtl .card,
body.rtl .service-card,
body.rtl .special-card,
body.rtl .feature-card{
    text-align: right;
}

/*=========================================
        FORMS
=========================================*/

body.rtl form{
    direction: rtl;
}

body.rtl input,
body.rtl textarea,
body.rtl select{
    text-align: right;
}

body.rtl label{
    text-align: right;
}

/*=========================================
        LISTS
=========================================*/

body.rtl ul{
    padding-right: 20px;
    padding-left: 0;
}

/*=========================================
        FOOTER
=========================================*/

body.rtl footer{
    direction: rtl;
}

body.rtl .footer-container{
    direction: rtl;
    text-align: right;
}

body.rtl .footerlinks{
    text-align: right;
}

body.rtl .footerlinks ul{
    padding-right: 0;
    padding-left: 0;
}

body.rtl .footer-logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

body.rtl .social-icons{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

/*=========================================
        IMAGES
=========================================*/

body.rtl img{
    max-width: 100%;
}

/*=========================================
        ICONS
=========================================*/

body.rtl i{
    direction: rtl;
}

/*==================================
      NAVIGATION RTL
==================================*/

/* Navbar */

body.rtl .navbar{

    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center;

}

/* Navigation */

body.rtl nav{

    display:flex;
    justify-content:flex-end;
    align-items:center;

}

body.rtl nav ul{

    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    align-items:center;
    gap:30px;

    margin:0;
    padding:0;
    list-style:none;

}
/* Navigation Links */

body.rtl nav ul li{

    margin:0;

}

body.rtl nav ul li a{

    display:block;
    text-align:center;

}

/*==================================
      HEADER BUTTONS RTL
==================================*/

body.rtl .header-buttons{

    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    gap:12px;

}

/* All Header Buttons */

body.rtl .header-buttons button{

    display:flex;
    justify-content:center;
    align-items:center;

}

/* Login Button */

body.rtl .login-btn{

    order:3;

}

/* Dark Mode Button */

body.rtl .dark-btn{

    order:2;

}

/* RTL Button */

body.rtl .rtl-btn{

    order:1;

}



/*================ HERO =================*/

.hero{

    height:90vh;

    background-image: url("images/ice4.jfif");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;

}

.hero-content{

    max-width:700px;

    color:#fff;

}

.tagline{

    font-size:20px;

    color:#F4D35E;

    letter-spacing:2px;

    margin-bottom:15px;

    font-weight:600;

}

.hero h1{

    font-size:65px;

    line-height:1.2;

    margin-bottom:20px;

    font-weight:bold;

}

.hero h1 span{

    color:#F4D35E;

}

.hero-text{

    font-size:18px;

    line-height:30px;

    margin-bottom:35px;

    color:#f2f2f2;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}


/*================ WHY CHOOSE US ================*/

.why-choose{

    padding:90px 8%;

    background:#fff;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h4{

    color:#D6336C;

    font-size:25px;

    text-transform:uppercase;

    letter-spacing:2px;

}

.section-title h2{

    font-size:35px;

    color:black;

    margin:15px 0;

}

.section-title p{

    max-width:650px;

    margin:auto;

    color:black;

    line-height:28px;

}

.choose-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

.choose-card{

    background:white;

    padding:35px;

    text-align:center;

    border-radius:20px;
  box-shadow:0 15px 35px rgba(0,0,0,0.18);
    transition:.4s;

}

.choose-card:hover{

    transform:translateY(-10px);

      box-shadow:0 18px 40px rgba(0,0,0,0.18);
}

.choose-card i{

    font-size:45px;

    color:#D6336C;

    margin-bottom:20px;

}

.choose-card h3{

    margin-bottom:15px;

    color:black;

    font-weight: bold;

    font-size: 25px;

}

.choose-card p{

    color:black;

    font-weight: 600;

    line-height:26px;

}

/* Responsive */

@media(max-width:992px){

.choose-container{

    grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.choose-container{

    grid-template-columns:1fr;

}

.section-title h2{

    font-size:35px;

}

}

/*================ FEATURED FLAVOURS ================*/

.featured{

    padding:90px 8%;

    background:#fdfdfd;

}

.section-heading{

    text-align:center;

    margin-bottom:60px;

}

.section-heading h4{

    color:#D6336C;

    font-size:25px;

    text-transform:uppercase;

    letter-spacing:2px;

}

.section-heading h2{

    font-size:35px;

    color:var(--secondary);

    margin:15px 0;

}

.section-heading p{

    max-width:650px;

    margin:auto;

    color:black;

    line-height:28px;

}

.featured-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.featured-card{

    background:#fff;

    border-radius:15px;

    overflow:hidden;

  
    box-shadow:0 10px 30px rgba(0,0,0,0.10);

    transition:.3s;

    text-align:center;

    padding-bottom:25px;

}

.featured-card:hover{

    transform:translateY(-10px);

     box-shadow:0 18px 40px rgba(0,0,0,0.18);

}

.featured-card img{

    width:100%;

    height:250px;

    object-fit:cover;

}

.featured-card h3{

    margin:20px 0 10px;

    color:#222;

    font-size:24px;

}

.featured-card p{

    color:#666;

    padding:0 20px;

    line-height:26px;

}

.featured-card span{

    display:block;

    color:#D6336C;

    font-size:24px;

    font-weight:bold;

    margin:20px 0;

}

.featured-card button{

    background:var(--primary);

    color:white;

    border:none;

    padding:12px 30px;

    border-radius:30px;

    cursor:pointer;

    transition:.3s;

    font-weight: bold;
}

.featured-card button:hover{

    background:var(--secondary);

    color: black;

}

/* Responsive */

@media(max-width:992px){

.featured-container{

    grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.featured-container{

    grid-template-columns:1fr;

}

.section-heading h2{

    font-size:35px;

}

}

/*================ OUR SERVICES ================*/

.services{

    padding:90px 8%;

    background:#fafafa;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h4{

    color:#D6336C;

    font-size:25px;

    margin-bottom:10px;

}

.section-title h2{

    font-size:35px;

    color:var(--secondary);

    margin-bottom:15px;

}

.section-title p{

    color:black;

    max-width:650px;

    margin:auto;

    line-height:28px;

}

.service-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

.service-card{

    background:#fff;

    padding:40px 30px;

    text-align:center;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,0.10);

    transition:.3s;

}

.service-card:hover{

    transform:translateY(-10px);


    box-shadow:0 18px 40px rgba(0,0,0,0.18);
}

.service-card i{

    font-size:45px;

    color:#D6336C;

    margin-bottom:20px;

}

.service-card h3{

    color:#222;

    margin-bottom:15px;

}

.service-card p{

    color:#666;

    line-height:28px;

}

/* Responsive */

@media(max-width:992px){

.service-container{

    grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.service-container{

    grid-template-columns:1fr;

}

.section-title h2{

    font-size:34px;

}

}



/*================ FRESH SECTION ================*/

.fresh-section{

    width:90%;

    margin:100px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:60px;

}

.fresh-image{

    flex:1;

}

.fresh-image img{

    width:100%;

    border-radius:20px;

    object-fit:cover;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.fresh-content{

    flex:1;

}

.fresh-content span{

    color:#D6336C;

    font-size:25px;

    font-weight:600;

    text-transform:uppercase;

}

.fresh-content h2{

    font-size:35px;

    color:var(--secondary);

    margin:20px 0;

    line-height:1.3;

}

.fresh-content p{

    color:#666;

    font-size:17px;

    line-height:30px;

    margin-bottom:20px;

}

.fresh-content ul{

    list-style:none;

    margin:30px 0;

}

.fresh-content ul li{

    font-size:18px;

    color:#333;

    margin-bottom:15px;

}

.fresh-content button{

    padding:15px 35px;

    border:none;

    background:var(--primary);

    color:white;



    border-radius:30px;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

    font-weight: bold;

}

.fresh-content button:hover{

    background:var(--secondary);
   
    color: black;

}

/* Responsive */

@media(max-width:992px){

.fresh-section{

    flex-direction:column;

}

.fresh-content{

    text-align:center;

}

.fresh-content ul{

    text-align:left;

    display:inline-block;

}

}

/*================ FUN FACTS SECTION ================*/

.fun-facts{

    width:100%;
    padding:90px 8%;

    background:#fafafa;

}

.facts-heading{

    text-align:center;
    margin-bottom:70px;

}

.facts-heading h4{

    color:#D6336C;
    font-size:25px;
    margin-bottom:15px;
    text-transform:uppercase;
    letter-spacing:2px;

}

.facts-heading h2{

    font-size:35px;
    color: var(--secondary);
    margin-bottom:20px;

}

.facts-heading p{

    max-width:700px;
    margin:auto;
    color:black;
    line-height:30px;
    font-size:17px;

}

.facts{

    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;

}

.fact{

    text-align:center;
    padding:20px;

}

.fact h2{

    font-size:55px;
    color:#D6336C;
    margin-bottom:10px;

}

.fact p{

    color:#555;
    font-size:18px;

}

.divider{

    width:2px;
    height:80px;
    background:#ddd;

}

/* Responsive */

@media(max-width:768px){

.facts{

    flex-direction:column;
    gap:40px;

}

.divider{

    display:none;

}

.facts-heading h2{

    font-size:34px;

}

}

/*================ HERO BANNER ================*/

.hero{

    width:100%;
    height:90vh;

    background-image:
    linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url("images/ChatGPT\ Image\ Jul\ 22\,\ 2026\,\ 09_00_26\ AM.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;

    padding:0 8%;
}

.hero-content{

    max-width:650px;

}

.hero-tag{

    display:inline-block;

    background:#D6336C;

    color:#fff;

    padding:10px 22px;

    border-radius:30px;

    font-size:16px;

    font-weight:600;

    margin-bottom:25px;

}

.hero-content h1{

    font-size:50px;

    color:var(--secondary);

    line-height:1.2;

    margin-bottom:25px;

    font-weight: bold;

}

.hero-content p{

    font-size:18px;

    color:#f5f5f5;

    line-height:32px;

    margin-bottom:40px;

    font-weight: bold;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

/* Primary Button */

.btn-primary{

    display:inline-block;

    text-decoration:none;
     

    color:#fff;

    padding:15px 35px;

    border-radius:30px;

    font-size:17px;

    font-weight:bold;

    transition:.3s;

    background-color: var(--primary);

}

.btn-primary:hover{

    color: black;
    background:var(--secondary);


}

/* Secondary Button */

.btn-secondary{

    display:inline-block;

    text-decoration:none;

    background-color: var(--primary);

    color:#fff;

    padding:15px 35px;

    border-radius:30px;

    font-size:17px;

    font-weight:bold;

    transition:.3s;

    
}

.btn-secondary:hover{

    background:var(--secondary);

    color:black;

}

/* Responsive */

@media(max-width:768px){

.hero{

    height:80vh;

    justify-content:center;

    text-align:center;

}

.hero-content h1{

    font-size:42px;

}

.hero-content p{

    font-size:16px;

    line-height:28px;

}

.hero-buttons{

    justify-content:center;

    flex-wrap:wrap;

}

}

/* Dropdown Menu */

.dropdown{
    position:relative;
}

.dropdown-menu{

    position:absolute;
    top:100%;
    left:0;

    width:170px;

    background:#fff;

    list-style:none;

    display:none;

    flex-direction:column;

    padding:5px 0;      /* Reduced */

    margin:0;           /* Remove extra margin */

    border-radius:8px;

    box-shadow:0 6px 15px rgba(0,0,0,.15);

    z-index:999;

       gap:0 !important;
}

.dropdown:hover .dropdown-menu{

    display:flex;

}

.dropdown-menu li{

    width:100%;

    margin:0;

    padding:0;

}

.dropdown-menu li a{

    display:block;

    padding:10px 18px;   /* Reduced from 14px or 16px */

    line-height:1.3;

    font-size:15px;

    color:#222;

    text-decoration:none;

    transition:.3s;

}

.dropdown-menu li a:hover{

    background:#D6336C;

    color:#fff;

}

/*================ SMALL MOBILE =================*/

@media (max-width:480px){

.logo h1{
    font-size:22px;
}

nav ul{
    flex-direction:column;
    gap:12px;
}

.hero-content{
    width:90%;
    text-align:center;
}

.hero-content h1{
    font-size:30px;
    line-height:42px;
}

.hero-content p{
    font-size:15px;
}

.header-buttons{
    flex-wrap:wrap;
    justify-content:center;
}

.footer-container{
    grid-template-columns:1fr;
}

}

/*================ MOBILE =================*/

@media (min-width:481px) and (max-width:767px){

.navbar{
    flex-direction:column;
    gap:20px;
}

nav ul{
    flex-direction:column;
    align-items:center;
}

.hero-content h1{
    font-size:38px;
}

.products{
    grid-template-columns:1fr;
}

.testimonial-container{
    grid-template-columns:1fr;
}

.footer-container{
    grid-template-columns:1fr;
}

}

/*================ TABLET =================*/

@media (min-width:768px) and (max-width:991px){

.navbar{
    flex-wrap:wrap;
    justify-content:center;
}

.products{
    grid-template-columns:repeat(2,1fr);
}

.testimonial-container{
    grid-template-columns:repeat(2,1fr);
}

.footer-container{
    grid-template-columns:repeat(2,1fr);
}

.hero-content h1{
    font-size:50px;
}

}

/*================ LARGE TABLET =================*/

@media (min-width:992px) and (max-width:1199px){

.navbar{
    width:95%;
}

.hero-content h1{
    font-size:58px;
}

.products{
    grid-template-columns:repeat(3,1fr);
}

.footer-container{
    grid-template-columns:2fr 1fr 1fr;
}

}

/*==============================
      HOME BANNER DARK MODE
===============================*/

body.dark-mode .hero-banner{

    background-image:url("images/home-banner.jpg") !important;
    background-position:center !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;

}

/*==============================
    SIGNATURE MILKSHAKES
==============================*/

.milkshake-section{

    padding:100px 8%;

    background:#FFF9F5;

}

.milkshake-heading{

    text-align:center;

    margin-bottom:70px;

}

.milkshake-heading span{

    color:#D6336C;

    font-size:25px;

    font-weight:600;

}

.milkshake-heading h2{

    font-size:35px;

    margin:18px 0;

    color:var(--secondary);


}

.milkshake-heading p{

    max-width:700px;

    margin:auto;

    color:black;

    line-height:30px;

}

.milkshake-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

.milkshake-image{

    position:relative;

    text-align:center;

}

.milkshake-image img{

    width:100%;

    max-width:420px;

}

.badge{

    position:absolute;

    top:20px;

    left:20px;

    background:#D6336C;

    color:#fff;

    padding:10px 22px;

    border-radius:40px;

    font-size:15px;

    font-weight:600;

}

.milkshake-content h3{

    font-size:40px;

    color:#222;

    margin-bottom:20px;

}

.rating{

    color:#F4D35E;

    font-size:22px;

    margin-bottom:20px;

}

.rating span{

    color:#666;

    font-size:16px;

}

.milkshake-content p{

    color:#666;

    line-height:30px;

}

.milkshake-content ul{

    list-style:none;

    margin:30px 0;

}

.milkshake-content ul li{

    margin:15px 0;

    color:#444;

    font-size:17px;

}

.milkshake-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:35px;

}

.milkshake-bottom h4{

    color:#D6336C;

    font-size:36px;

}

.milkshake-bottom a{

    text-decoration:none;

    background:#D6336C;

    color:#fff;

    padding:15px 35px;

    border-radius:40px;

    transition:.4s;

}

.milkshake-bottom a:hover{

    background:#F4D35E;

    color:#222;

}

/*=================================
            NEWSLETTER
==================================*/

.newsletter{

    padding:100px 8%;

    background:#FFF9F5;

}

.newsletter-container{

    background:var(--primary);

    border-radius:25px;

    padding:70px 60px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:50px;

    flex-wrap:wrap;

}

.newsletter-content{

    flex:1;

}

.newsletter-content span{

    color:var(--secondary);

    font-size:25px;

    font-weight:600;

    letter-spacing:1px;

}

.newsletter-content h2{

    color:var(--secondary);

    font-size:35px;

    margin:18px 0;

}

.newsletter-content p{

    color:#f8f8f8;

    line-height:30px;

    max-width:600px;

}

.newsletter-form{

    flex:1;

    display:flex;

    justify-content:flex-end;

}

.newsletter-form form{

    width:100%;

    max-width:520px;

    background:#fff;

    border-radius:50px;

    display:flex;

    overflow:hidden;

}

.newsletter-form input{

    flex:1;

    border:none;

    outline:none;

    padding:18px 25px;

    font-size:16px;

}

.newsletter-form button{

    border:none;

    background:var(--secondary);

    color:black;

    padding:18px 35px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.newsletter-form button:hover{

    background:black;

    color:#fff;

}

.newsletter-form button i{

    margin-left:8px;

}

/*==============================
      NEWSLETTER RESPONSIVE
==============================*/

@media(max-width:992px){

.newsletter-container{

    flex-direction:column;

    text-align:center;

}

.newsletter-form{

    justify-content:center;

    width:100%;

}

.newsletter-form form{

    max-width:100%;

}

}

@media(max-width:768px){

.newsletter{

    padding:70px 6%;

}

.newsletter-container{

    padding:45px 25px;

}

.newsletter-content h2{

    font-size:32px;

}

.newsletter-form form{

    flex-direction:column;

    border-radius:18px;

}

.newsletter-form input{

    width:100%;

    text-align:center;

}

.newsletter-form button{

    width:100%;

    border-radius:0;

}

}